
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slide9.jpg" class="d-block w-100 " alt="...">
      <div class="carousel-caption">
        <h5>Recycle Today for Better Tomorrow</h5>
       
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/newtile.jpg" class="d-block w-100"  alt="...">
      <div class="carousel-caption">      
        <h5>Eco-friendly Tiles for roofing</h5>
        <!-- <p>Recyclable Tiles</p> -->
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/images/slide6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Energy efficiency begins everywhere</h5>
        <!-- <p>Conservation doesn’t cost; it saves</p> -->
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
      <div class="container">       
        <div class="container mt-12">
          <div class="row">             
              <div class="col-md-12">
                <div class="demo-title bg-alt" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;"> Who We Are? 
                </div>
                  <div class="demo-content bg-alt">Shree Bommu Industries (SBI), Established in 2006, has grown from “Shree Bommu Industries Group”, that was originally incubated in 1989. SBI is pioneer in Solid Waste 
                    Management (SWM) Processes and Quality Manufacturer of SWM / Foundry Equipments as well as Tea Plant Machineries.</div>
              </div>
              <div class="col-md-12">
                <div class="demo-title bg-alt" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;">What We Do?       
                </div>  
                </div>
              <div class="col-md-12">
                <div class="demo-content bg-alt text-box">
                  <img class="bulletin" src="assets/images/tick.png"> Solid Waste Management<br>
                  <img class="bulletin" src="assets/images/tick.png"> All processes machineries for handling fresh waste segregation<br>
                  <img class="bulletin" src="assets/images/tick.png"> Compost manure, Biogas, Plastic paver block/tiles production<br>
                  <img class="bulletin" src="assets/images/tick.png"> Transport for handling all types of waste; battery cars, bin & associated equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Biomining of Legacy Waste<br>
                  <img class="bulletin" src="assets/images/tick.png"> Turnkey Processes<br>
                  <img class="bulletin" src="assets/images/tick.png"> Operations and Maintenance<br>
                  <img class="bulletin" src="assets/images/tick.png"> Foundry Equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Waste Plastics To Fuel Oil Production<br>
                  <img class="bulletin" src="assets/images/tick.png"> Materials Handling System<br>
                  <img class="bulletin" src="assets/images/tick.png"> Recycled Polymer Sand Composite Materials Manufacturing<br>
                  <img class="bulletin" src="assets/images/tick.png"> Pre-Cured Tire Retreading Plant & Equipments<br>
                  <img class="bulletin" src="assets/images/tick.png"> Blending, Cleaning and Packing Solution For Food Products<br>
                  <img class="bulletin" src="assets/images/tick.png"> Plant Automation
              </div>
              
            </div>
            <div class="col-md-12">
              <div class="demo-title bg-alt" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;">Our Business: Fresh Waste/ Legacy Waste Management</div>  
              </div>
             
              <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                <div class="gallery">
                  <!-- <a target="_blank" href="img_5terre.jpg"> -->
                    <img src="assets/images/speaker.png" alt="Saves energy" width="200" height="10" style="padding-top:5px">
                  <!-- </a> -->
                  <div class="desc">Saves energy</div>
                </div>
              </div>
                 <!-- <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                <div class="gallery">
               
                    <div class="infoflex">
                    <span class="material-icons" style="font-size: 44px; color: #fff">campaign</span>
                  </div>
                  
                  <div class="desc">Saves energy</div>
                </div>
              </div> -->
              
              <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                <div class="gallery">
                  <!-- <a target="_blank" href="img_forest.jpg"> -->
                    <img src="assets/images/conserve.png" alt="Forest" width="500" height="200">
                  <!-- </a> -->
                  <div class="desc">Conserve resources</div>
                </div>
              </div>
              
              <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                <div class="gallery">
                  <!-- <a target="_blank" href="img_lights.jpg"> -->
                    <img src="assets/images/lanfill1.png" alt="Northern Lights" width="500" height="300">
                  <!-- </a> -->
                  <div class="desc">Reduces landfill</div>
                </div>
              </div>
              
              <div class="responsive" style="padding-top: 20px;  padding-left: 20px; text-align: center">
                <div class="gallery">
                  <!-- <a target="_blank" href="img_mountains.jpg"> -->
                    <img src="assets/images/badge.png" alt="Mountains" width="500" height="300">
                  <!-- </a> -->
                  <div class="desc">Protect the environment</div>
                </div>
              </div><br>
              <!-- <div class="col-md-12">
                <div><img src="assets/images/ourbusiness.png" style="width:400px; height: 500px; text-align: center;" ></div>  
                </div> -->
              <div class="col-md-12">
                <div class="demo-title bg-alt" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;"> Why Waste Management is the need of the hour?</div>  
                </div>
             
                <div class="col-md-12">
                  <div class="subtitle" style="padding-top: 20px;"> The Problem</div>  
                  </div>
                <div class="col-md-12">              
               <div class="demo-content bg-alt">Approx. 150 million metric tons of solid waste is
                being generated everyday in India. Only 20% being treated; This is certainly NOT
                acceptable, while untreated quantity is keep alarmingly
                increasing. The negative impact of on the environment is huge –
                can be seen in the form of Pollution, Climate Change, Global Warming, etc.</div>
                <div class="col-md-12">
                  <div class="subtitle"> Our Solution</div>  
                  </div>
                <div class="demo-content bg-alt">
                <div>We offer eco-friendly method(s) of disposal for various
                  types waste generated.
                  Create positive environmental impacts and social
                  influence.
                  Help everyone adapt to the local compliances.
                  Help to generate employment opportunities.
                  </div>
                
       

                  <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                    <div class="gallery">
                      <!-- <a target="_blank" href="img_5terre.jpg"> -->
                        <img src="assets/images/environmentimpact.jpg" alt="Environment impact" width="500" height="300">
                      <!-- </a> -->
                      <div class="desc">Environment impact</div>
                    </div>
                  </div>
                  
                  
                  <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                    <div class="gallery">
                      <!-- <a target="_blank" href="img_forest.jpg"> -->
                        <img src="assets/images/employment.jpg" alt="Employment Opportunities" width="500" height="300">
                      <!-- </a> -->
                      <div class="desc">Employment Opportunity</div>
                    </div>
                  </div>
                  
                  <div class="responsive" style="padding-top: 20px; padding-left: 20px; text-align: center">
                    <div class="gallery">
                      <!-- <a target="_blank" href="img_lights.jpg"> -->
                        <img src="assets/images/social.jpg" alt="Social influence" width="500" height="300">
                      <!-- </a> -->
                      <div class="desc">Social influence</div>
                    </div>
                  </div>
                  
                  <div class="responsive" style="padding-top: 20px;  padding-left: 20px; text-align: center">
                    <div class="gallery">
                      <!-- <a target="_blank" href="img_mountains.jpg"> -->
                        <img src="assets/images/compliance.jpg" alt="State Compliances" width="500" height="300">
                      <!-- </a> -->
                      <div class="desc">State Compliances</div>                     
                    </div>
                  </div><br>        

                </div>
           
          </div>
        
          <!-- <div class="row"> 
            <div class="col-md-12">
              <div class="demo-title bg-alt"> Our Eco-Friendly solutions</div>  
              </div>
              <div class="col-md-12">
                <div><img src="assets/images/ecofriend.jpg" style="width:400px; height: 500px; text-align: center;" ></div>  
                </div>
            </div>
          </div> -->
      

   
        <div class="port">
          <div class="prod-container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-center">
                  <div class="demo-title bg-alt" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;">Services That We Offer For You</div>
                </div>
              </div>
            </div>
            <div class="row" style="padding-top: 20px; padding-bottom: 10px;">
              <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#popup1">
                  <img src="assets/images/newtile.jpg" width="500" height="280">
                  <div class="overlay">
                    <h3>Recyclable Water-Resistant Roof Tiles </h3>
                    <button class="btn btn1 hover-filled-slide-down" (click)="gotoPage('/tiles')"><span>Learn More</span></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#popup2">
                  <img src="assets/images/oil.png" width="500" height="280">
                  <div class="overlay">
                    <h3>Waste Plastics to Fuel Oil</h3>
                    <button class="btn" (click)="gotoPage('/fuel-oil')"><span>Learn More</span></button>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="gallery-item" data-bs-toggle="modal" data-bs-target="#popup3">
                  <img src="assets/images/vermicompost.jpg" width="500" height="280">
                  <div class="overlay">
                    <h3>Vermi-Compost</h3>
                    <button class="btn btn1 hover-filled-slide-down" (click)="gotoPage('/vermicompost')"><span>Learn More</span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- popup modal -->
        <div class="modal fade" id="#popup1">
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="assets/images/conserve.png">
            </div>
          </div>

        </div>
        <div class="modal fade" id="#popup2">
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="assets/images/speaker.png">
            </div>
          </div>

        </div>
        <div class="modal fade" id="#popup3">
          <div class="modal-dialog">
            <div class="modal-content">
              <img src="assets/images/lanfill1.png">
            </div>
          </div>

        </div>
        <!-- <div class="port">
          <div class="prod-container">
            <div class="row">
              <div class="col-lg-12">
                <div class="section-header text-center">
                  <p class="subtitle" style="padding-top: -10px;">Our Team</p>
                  <div class="demo-title bg-alt" style="padding-top: 10px; padding-bottom:20px">Dedicated & Experienced Team Members</div>
                </div>
              </div>
            </div>
          
              
              <div class="row g-4">
                  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                      <div class="team-item rounded">
                          <img class="img-fluid" src="assets/images/team-1.jpg" alt="">
                          <div class="team-text">
                              <h4 class="mb-0">Doris Jordan</h4>
                            
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                      <div class="team-item rounded">
                          <img class="img-fluid" src="assets/images/team-2.jpg" alt="">
                          <div class="team-text">
                              <h4 class="mb-0">Johnny Ramirez</h4>
                             <p class="text-primary">Garden Designer</p> 
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                      <div class="team-item rounded">
                          <img class="img-fluid" src="assets/images/team-3.jpg" alt="">
                          <div class="team-text">
                              <h4 class="mb-0">Diana Wagner</h4>
                               <p class="text-primary">Senior Gardener</p>                       
                          </div>
                      </div>
                  </div>
              </div>
          
      </div>
      </div> -->
      <!-- Team End -->
      
        
        <div class="container1">
          <h1 style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;" class="demo-title bg-alt">Zero Waste Concepts - Equipments</h1>
        <section class="cardOptions">
        <owl-carousel-o [options]="cardOptions">
          <ng-container *ngFor="let slide of dynamicSlides">
          <ng-template carouselSlide>
            <div class="card1">
              <img [src]="slide.src" class="slide1" [alt]="slide.alt" [title]="slide.title" alt="Avatar">      
                <div class="container1">
                  <h4 class="center"><b>{{slide.title}}</b></h4>   
                  <!-- <p>{{slide.title}}</p>       -->
                  </div>      
            </div>
          </ng-template>
        </ng-container>
        </owl-carousel-o>
        </section>
        </div>
      <!-- equipment ended -->
      <!-- top started -->
      <app-scroll-to-top></app-scroll-to-top>
    </div>
    
    </div>

