.demo-title span {
    position: relative;}
  .demo-title span:before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%; 
    left: 10;
    height: 3px;
    border-radius: 11px;
    background: #ef662b;
  }