<!-- <nav>
    <a class="button"
       routerLink="/vermicompost"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page" (click)="gotoPage('vermicompost')">
      Vermi-Compost
    </a> |
    <a class="button"
       routerLink="/fuel-oil"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page" (click)="gotoPage('fuel-oil')">
      Fuel oil
    </a>
    </nav>
    <router-outlet></router-outlet>
    <div style="display: none;">
    <app-vermicompost></app-vermicompost>
    <app-fueloil></app-fueloil>
    <nav>
    <a class="button" routerLink="vermicompost" (click)="gotoPage('vermicompost')">Vermi Compost</a> |
    <a class="button" routerLink="fuel-oil" (click)="gotoPage('fuel-oil')">Fuel oil</a>
    </nav>
    </div> -->
<h1 style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6; text-align: center;" class="demo-title bg-alt">Our Competence in Products Manufacturing</h1>
<!-- <h2 style="text-align: center;" class="subtitle bg-alt">Recyclable Water-Resistant Roof Tiles </h2> -->
<div class="container1">
<div class="whitebox">
 
  <div class="textbox">
    <h1 style="text-align: center; border-bottom: 1px dashed #c6c6c6;" class="subtitle bg-alt">Vermi-Compost Manufacturing Plant </h1>
    Vermitechnology is the study and commercial use of technologies that use earthworms to decompose organic waste for sanitation and agricultural purposes. Earthworms can decompose and stabilize solid organic waste as well as organic waste that is suspended or dissolved in water. Solid waste management has become one of the biggest problems we face today. Vermicomposting is the better option to tackle this problem.
    It is environment friendly and cost-effective technique for solid waste management.<br>
    
  </div>
  
  <div class="imagebox">
  
  <img src="assets/images/vermicompost.jpg" class="img">
</div>
</div>
<h1 style="padding-top: 5px;padding-left: 25px; padding-bottom: 5px; border-bottom: 1px dashed #c6c6c6;" class="subtitle bg-alt">Vermi-Compost Preparation Method </h1>
<p style="padding: 10px;">
   Vermicompost can be prepared by adopting the following steps: <br>
   <img class="bulletin" src="assets/images/tick.png"> Collect the available organic wastes from crops and Gliricidia <br>
   <img class="bulletin" src="assets/images/tick.png"> Chop the wastes in to small pieces of 5 cm using knife for hastening the decomposition process<br>
   <img class="bulletin" src="assets/images/tick.png"> Heap the chopped materials under sun for about 7-10 days.<br>
   <img class="bulletin" src="assets/images/tick.png"> Sprinkle cow dung slurry (5 kg of dung in 5 litres of water) on the heap.<br>
   <img class="bulletin" src="assets/images/tick.png"> Place a thin layer of half decomposed cow dung (3-5 cm) at the bottom.<br>
   <img class="bulletin" src="assets/images/tick.png"> Place the chopped weed biomass and partially decomposed cow dung layer wise (10-20 cm thickness) in the rings up to the depth of 75 cm Organic waste. <br>
   <img class="bulletin" src="assets/images/tick.png"> Cow dung ratio should be mixed at 60: 40 on dry weight basis.<br>
   <img class="bulletin" src="assets/images/tick.png"> Release about 2-3 kg of red earthworms per 1000 kg of biomass.<br>
   <img class="bulletin" src="assets/images/tick.png"> Place wire net / bamboo net over the tank to protect earthworm from birds.<br>
   <img class="bulletin" src="assets/images/tick.png"> Sprinkling of water should be done to maintain 70-80 % moisture content. <br>
   <img class="bulletin" src="assets/images/tick.png"> Provide a shed over the compost to prevent entry of rainwater and exposure to direct sunshine. <br>
   <img class="bulletin" src="assets/images/tick.png"> Sprinkling of water should be stopped when 90 % bio-wastes are decomposed.</p>
<div class="vermiprocess">
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Vermished</h3>
  <img src="assets/images/vermished.jpg" style="width:100%; height:180px">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Feeding</h3>
  <img src="assets/images/vermifeeding.jpg" style="width:100%; height:180px">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Release</h3>
  <img src="assets/images/wormreleased.png" style="width:100%; height:180px">
</div>
<div class="box arrow-bottom">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Released</h3>
  <img src="assets/images/wormrelease.jpg" style="width:100%; height:180px">
</div>
<div class="box">
  <h3 style="text-align: center; color:#ffffff; font-size: 24px;">Worm Collection</h3>
  <img src="assets/images/wormcollection.png" style="width:100%; height:180px">
</div>
</div>

<app-scroll-to-top></app-scroll-to-top>


</div>

