.demo-title span {
    position: relative;}
.demo-title span:before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%!important;
    padding-top: 10px;
    left: 0;
    height: 3px;
    border-bottom: 1px dashed #c6c6c6;
    border-radius: 11px;
    /* background: #ef662b; */
}
.container {
    width: 1250px;
    color: #494b49;
    background-color: #f0f1ecbe;
    margin-top: 30px;  
    font-size: 18px;    
    line-height: 24px;
    margin-bottom: 12px;
  }
  .container1 {
    width: 1250px;   
    background-color: #f0f1ecbe;   
    margin-top: 30px;     
    font-size: 18px;    
    line-height: 24px;
    margin-bottom: 12px;
    justify-content: center;
  }
  .border-left{
    border-left: 3px solid #ef662b;
    padding: 5px;
  }
  @media (max-width: 991px) {
    .container1 {
      width: 100%;   
}
.container {
    width: 100%;
  }
  }