.demo-title span {
    position: relative;}
.demo-title span:before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%!important;
    padding-top: 10px;
    left: 0;
    height: 3px;
    border-bottom: 1px dashed #c6c6c6;
    border-radius: 11px;
    /* background: #ef662b; */
}
