.whitebox{
    background-color: #fff;
    margin: 20px 120px;
    width: 1120px;
    display: flex;
    /* margin: 10px 20px; */
    padding: 10px;
    /* border: 1px solid #ef662b; */
    align-items: center;
    justify-content: center
}
.demo-title span {
    position: relative;}
.demo-title span:before{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%!important;
    padding-top: 10px;
    left: 0;
    height: 3px;
    border-bottom: 1px dashed #c6c6c6;
    border-radius: 11px;
    /* background: #ef662b; */
}
.textbox{
    width:500px;
    padding: 10px;
    font-size: 24px;
    padding:30px;
    line-height: 50px;
    background-color: #ef662b;
    color: #fff;
}
.imagebox{
    width: 550px;
    padding: 30px;
}
.img{
    width: 500px;
    height: 500px;
}