<!-- 
<nav>
    <a class="button"
       routerLink="/vermicompost"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page" (click)="gotoPage('vermicompost')">
      Vermi-Compost
    </a> |
    <a class="button"
       routerLink="/fuel-oil"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page" (click)="gotoPage('fuel-oil')">
      Fuel oil
    </a>
    </nav>
    <router-outlet></router-outlet>
    <div style="display: none;">
    <app-vermicompost></app-vermicompost>
    <app-fueloil></app-fueloil>
    <nav>
    <a class="button" routerLink="vermicompost" (click)="gotoPage('vermicompost')">Vermi Compost</a> |
    <a class="button" routerLink="fuel-oil" (click)="gotoPage('fuel-oil')">Fuel oil</a>
    </nav>
    </div> -->
<h1 style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6; text-align: center;"
  class="demo-title bg-alt">Waste Plastics to Fuel Oil Production</h1>
<!-- <h2 style="text-align: center;" class="subtitle bg-alt">Recyclable Water-Resistant Roof Tiles </h2> -->
<div class="container1">
<div class="whitebox">

  <div class="textbox">
    <h1 style="padding-top: 5px; padding-bottom: 5px; border-bottom: 1px dashed #c6c6c6;" class="subtitle bg-alt">
      Plastic Pyrolysis </h1>
    Turning plastic waste into plastic oil by pyrolysis is one of the promising techniques to eradicate plastic waste
    pollution and accelerate the circular economy of plastic materials. Plastic waste is an attractive pyrolysis
    feedstock for plastic oil production owing to its favorable chemical properties of proximate analysis, ultimate.<br>

  </div>
  <div class="imagebox">
    <img src="assets/images/fueliol.jpg" class="img">
  </div>

</div>
</div>
<div class="container">
  <p class="border-left">The technology is not overly complicated, plastics are shredded and then heated in an
    oxygen-free chamber (known as pyrolysis) to about 400 degrees celsius. </p>
</div>

<div class="container">
  <p class="border-left"> The fuel is then distilled and filtered. Because the entire process takes place inside a
    vacuum and the plastic is melted - not burned, minimal to no resultant toxins are released into the air, as all the
    gases and or sludge are reused to fuel the machine.</p>
</div>



<app-scroll-to-top></app-scroll-to-top>