
<div class="item"  id="header-image-menu">
    <img src="assets/images/slide9.jpg">
  
   <div  id="image-text">
      <!-- <h1> CSS header image </h1> -->
      <h1 class="display-3 text-white mb-4 animated slideInDown">Area of Operation</h1>
      <!-- <h1>  </h1> -->
    </div>
  </div>
<!-- Projects Start -->

<!-- Projects End -->
<!-- table starts -->
<div class="container-xxl py-5">
<div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">
   
    <h1 class="display-5 mb-3" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;">Ongoing Biomining and Fresh Waste Project (2023 -3024)</h1>
</div>
<table>
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Customers for Biomining</th>
        <th scope="col">m3</th> 
    </tr>
    </thead>
    <tbody>
        <tr>
            <td data-label="#">1</td>
            <td data-label="Customers for Biomining">Puliyamapatti Municipality</td>
            <td data-label="m3">21824 Cum</td>                
        </tr>
        <tr>
            <td data-label="#">2</td>
            <td data-label="Customers for Biomining">Mettupalayam Municipality</td>
            <td data-label="m3">49,823</td>                
        </tr>
    </tbody>
    </table>
</div>
<div class="container-xxl py-5">
    <!-- <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
        <p class="fs-5 fw-bold text-primary">SWM - Fresh/Biomining Projects</p>
        <h1 class="display-5 mb-5">Ongoing Projects</h1>
    </div> -->
    <table>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customers for Fresh Waste</th>
            <th scope="col">Type</th>
            <th scope="col">MT / Day</th>
        </tr>
        </thead>
        <tbody>
        <tr class="data">
            <td data-label="#">1</td>
            <td data-label="Customers for Fresh Waste">Coimbatore Corporation</td>
            <td data-label="Type">UPL – (CIWMC)</td>
            <td data-label="MT / Day">1000</td>
        </tr>
        <tr>
            <td data-label="#">2</td>
            <td data-label="Customers for Fresh Waste">Erode Corporation</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">100</td>
        </tr>
        <tr>
            <td data-label="#">3</td>
            <td data-label="Customers for Fresh Waste">Trichy Corporation</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">600</td>
        </tr>
        <tr>
            <td data-label="#">4</td>
            <td data-label="Customers for Fresh Waste">Udumalpet Municipality</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">35</td>
        </tr>
        <tr>
            <td data-label="#">5</td>
            <td data-label="Customers for Fresh Waste">Pollachi Municipality</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">60</td>
        </tr>
        <tr>
            <td data-label="#">6</td>
            <td data-label="Customers for Fresh Waste">Mettupalayam Municipality</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">40</td>
        </tr>
        <tr>
            <td data-label="#">7</td>
            <td data-label="Customers for Fresh Waste">Coonoor Municipality</td>
            <td data-label="Type">IL&FS (IWMUST) </td>
            <td data-label="MT / Day">25</td>
        </tr>
        <tr>
            <td data-label="#">8</td>
            <td data-label="Customers for Fresh Waste">Karaikudi Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">50</td>
        </tr>
        <tr>
            <td data-label="#">9</td>
            <td data-label="Customers for Fresh Waste">Mettur Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">25</td>
        </tr>
        <tr>
            <td data-label="#">10</td>
            <td data-label="Customers for Fresh Waste">Melur Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">20</td>
        </tr>
        <tr>
            <td data-label="#">11</td>
            <td data-label="Customers for Fresh Waste">Pollachi Municipality </td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">50</td>
        </tr>
        <tr>
            <td data-label="#">12</td>
            <td data-label="Customers for Fresh Waste">Coimbatore Corporation</td>
            <td data-label="Type">Vermi Compost</td>
            <td data-label="MT / Day">150</td>
        </tr>
        <tr>
            <td data-label="#">13</td>
            <td data-label="Customers for Fresh Waste">Pattukottai Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">20</td>
        </tr>
        <tr>
            <td data-label="#">14</td>
            <td data-label="Customers for Fresh Waste">Pallipalayam Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">25</td>
        </tr>
        <tr>
            <td data-label="#">15</td>
            <td data-label="Customers for Fresh Waste">Ramanathapuram Municipality</td>
            <td data-label="Type"></td>
            <td data-label="MT / Day">30</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td></td>
            <td>2230</td>
        </tr>
    </tbody>
</table>
</div>
<div class="container-xxl py-5">
    <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">       
        <h1 class="display-5 mb-3" style="padding-top: 40px; padding-bottom: 20px;border-bottom: 1px dashed #c6c6c6;">Completed in 2018 - 2019</h1>
    </div>
   
        <table>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customers for Biomining</th>
                <th scope="col">m3</th>                
            </tr>
            </thead>
            <tbody>
            <tr>
                <td data-label="#">1</td>
                <td data-label="Customers for Biomining">Bhavani Municipality</td>
                <td data-label="m3">33,556</td>                
            </tr>
            <tr>
                <td data-label="#">2</td>
                <td data-label="Customers for Biomining">Idappadi Municipality</td>
                <td data-label="m3">42,570</td>                
            </tr>
            <tr>
                <td data-label="#">3</td>
                <td data-label="Customers for Biomining">Mettupalayam Municipality</td>
                <td data-label="m3">32,454</td>                
            </tr>
            <tr>
                <td data-label="#">4</td>
                <td data-label="Customers for Biomining">Arani Municipality</td>
                <td data-label="m3">16,650</td>                
            </tr>
            <tr>
                <td data-label="#">5</td>
                <td data-label="Customers for Biomining">Coimbatore Integrated Waste Management (347800 MT completed so far</td>
                <td data-label="m3">3,60,800</td>                
            </tr>
            <tr>
                <td data-label="#">6</td>
                <td data-label="Customers for Biomining">Coimbatore Integrated
                    Waste Management
                    (Fresh Waste handling -
                    988000 MT completed so
                    far)</td>
                <td data-label="m3">9,880,00</td>                
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>14,74,030</td>                
            </tr>
            
            </tbody>
            </table>
  </div>
  
  <div class="container-xxl py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s">          
            <h1 class="display-5 mb-3" style="padding-top: 40px; padding-bottom: 20px; border-bottom: 1px dashed #c6c6c6;">Completed in 2022</h1>
        </div>
        <table>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Customers for Biomining</th>
                <th scope="col">m3</th> 
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="#">1</td>
                    <td data-label="Customers for Biomining">Pollachi Municipality</td>
                    <td data-label="m3">95,700</td>                
                </tr>
                <tr>
                    <td data-label="#">2</td>
                    <td data-label="Customers for Biomining">Mettur Municipality</td>
                    <td data-label="m3">49,823</td>                
                </tr>
                <tr>
                    <td data-label="#">3</td>
                    <td data-label="Customers for Biomining">Melur Municipality</td>
                    <td data-label="m3">41,800</td>                
                </tr>
                <tr>
                    <td data-label="#">4</td>
                    <td data-label="Customers for Biomining">Dharmapuri Municipality</td>
                    <td data-label="m3">56,293</td>                
                </tr>
                <tr>
                    <td data-label="#">5</td>
                    <td data-label="Customers for Biomining">Vaniyambadi Municipality</td>
                    <td data-label="m3">32,050</td>                
                </tr>
                <tr>
                    <td data-label="#">6</td>
                    <td data-label="Customers for Biomining">Bhavani Municipality</td>
                    <td data-label="m3">9300</td>                
                </tr>
                <tr>
                    <td data-label="#">7</td>
                    <td data-label="Customers for Biomining">Sulur Townpanchayat</td>
                    <td data-label="m3">5300 Cum</td>                
                </tr>
                <tr>
                    <td data-label="#">8</td>
                    <td data-label="Customers for Biomining">Annur Townpanchayat</td>
                    <td data-label="m3">9500 Cum </td>                
                </tr>
                <tr>
                    <td data-label="#">9</td>
                    <td data-label="Customers for Biomining">Pulivendula Municipality,
                        Andhrapradesh</td>
                    <td data-label="m3">27283 MTs</td>                
                </tr>
            </tbody>
            </table>
    </div>

<!-- table end -->
