.body {
    background: linear-gradient(90deg, #0e3959 0%, #0e3959 30%, #03a9f5 30%, #03a9f5 100%);
}
#header-image-menu{
    top: 10px;
    position: relative;
   
    
}
#header-image-menu img{
    width: 100%;
    margin: none;
    padding: none;
    height: 356px;       
   
    
}
.item:before {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 1;
    content: '';
    left: 0;
    top: 0;
}
#image-text{
    position: absolute;
    bottom: 140px;
    right: 20px;
    background-color: rgb(153, 152, 152);
    color: white;
    margin:40px;
    padding-left: 40px;       
        padding-right: 20px;
         padding-top: 20px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4);
}
.whitebox1{
    background-color: #fff;
    width: 820px;
    margin: 40px auto;
    padding: 10px;
    border: 1px solid #ef662b;
}
.header{    
        font-size: 25px;
        font-weight: 600;
        /* background-image: linear-gradient(to right, #0e3959 45%, #ee4b2b); */
        background-color: #0e3959;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
      }
  .center{text-align: center;}
  
.bluebox{
    background-color: #0e3959;
    width: 650px;
    margin: 40px auto;
    padding: 10px;
    color: #fff;
}
.container{
    display: flex;
    width:1200px;
    gap: 30px;
    justify-content: space-between;
}
.infoflex {
    display: flex;
    width: 100%;
    
    align-items: flex-start;
}
.infoflex span {
    color: #fff;
    background-color: #03a9f5;
    border-radius: 50%;
    border: 10px solid #03a9f5;

}
.infotext {
    justify-content: center;
    /* margin: 12px; */
    padding-left: 12px;
    margin: 0px 20px;
   
}
.bluebox h3{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.infotext1 {
    justify-content: center;
    padding-left: 12px;
    margin: 15px 20px;
   

}
.map{
    width : 1320px;
    height: 500px;
    border:0;  
    margin: 40px 20px;
}
.mapinfo{
    width:100%;
    height: 500px;
}
.profile{
    display: flex;
    align-items: center;
}
.infoflexbox{
    margin:0;
    width:180;
}
@media (max-width: 991px){
    .body{
        background: #03a9f5;
    }
    .infoflexbox{
        margin:0;
        width:auto;
    }
    .infotext {
        /* justify-content: center; */
        /* margin: 12px; */
        padding-left: 0px;
        margin: 0px 0px;
       
    }
    .container{          
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .bluebox h3{
        font-size: 20px;
        text-align: left;
        text-decoration: underline;
    }
    .whitebox1{
        background-color: #fff;
        width:2px 0px; 
        border: 1px solid #ef662b;       
    }
    .form-control{
        width: 100%;
        padding: 2px 5px;
    }
    .bluebox{
        background-color: #0e3959;
      
        color: #fff;
    }
    .infoflex {             
       /* display: flex; */
       align-items: left;
       flex-wrap: wrap;
        /* justify-content: left;         */
    }
    .infoflex span {
        color: #fff;
        background-color: #03a9f5;
        border-radius: 50%;
        border: 2px solid #03a9f5;  
      
        margin: 0;    
        
    }
    .infotext {
        padding-top: -20px;
        margin: 0;
      
    }
    
    .infotext1 {
      
        margin: 0;
         
        /* margin: 15px 20px; */
    }
  
    .map{
        width : 100%;
        height: 500px;
        border: 0;  
        margin: 2px 2px;
    }
}